body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}


#openImg{
  width: 70%;
}
.btn {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 10%;

} 

#regButton{
  top: 70%;
  left: 20%;
}
#loginButton{
  top: 70%;
  left: 60%;
}

  /* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


#pauseAudio{
  background-color: #f44336;

}
#playAudio{
  background-color: blue;

  
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
#regButton{
  width: 50%;
}

#loginButton{
  width: 50%;
}
#signupForm {
  width: 670px;
}
#signupForm label.error {
  margin-left: 10px;
  width: auto;
  display: inline;
}
#loginForm {
  width: 670px;
}
header {
	/* justify-content: space-between; 
  align-items: center;*/
  background-color: #333;
  color: wheat;
  position: relative;
	top: 0;
	width: 100%;
	height: 80px; /* Height of the footer */
  font-size: 140%;
  
} 
#logo{
  height: 76px;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}
.tablink a {
  color: #FFFFFF;
   text-decoration: none;
 }

/* Style the tab content */
.content {
  color: darkblue;
  display: none;
  padding: 50px;
  text-align: center;
}




/* Links inside the navbar */
.navbar a {
  float: center;
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar  li {
	display: inline-block;
  padding: 0px 25px;
  margin: 0px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
  
}
#leftSide{
  float:left;
  width: 10%;
  text-align: center;

}
#rightSide{
  float:right;
  width: 20%;
  text-align: center;

}
#playGame{
  float:center;
  width:69%;
}
.canvas{
  border-image: blue;

}